/* Boss Screen
****************/
html {
  opacity: 0.05;
}
html:hover {
  opacity: 1;
}

.App {
  text-align: center;
}

/* Z-Index
***************/
.App-header #money,
.App-header {
  z-index: 1;
}

/* HEADER
******************/
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* HEADER -> Main Nav
************************/
.App-header ul {
  list-style-type: none;
  padding: 0;
}
.App-header ul li {
  display: inline-block;
  margin: 0 1em;
}
.App-header ul li a {
  color: #fff;
  text-decoration: none;
}
.App-header ul li a.active {
  font-weight: bold;
}
.App-header ul li button {
  cursor: pointer;
  background: transparent;
  border: 0;
  font-size: 15px;
}
.App-header ul li.node button {
  opacity: 0;
  font-size: 9px;
  margin-top: -13px;
  position: relative;
  top: -7px;
  left: -6px;
}
.App-header ul li.node:hover button {
  opacity: 0.5;
  visibility: visible;
}
.App-header ul li.node button:hover {
  opacity: 1;
  color: #ff0;
}
.App-header span {
  font-size: 0.5em;
  margin: -1em 0 1em;
}

/* HEADER -> Money Menu
************************/
.App-header #money,
.App-header #moneyMenu {
  position: absolute;
}
.App-header #money {
  left: 0;
  top: 43px;
  transform: rotate(-25deg);
  background: none;
  border: 0;
  font-size: 78px;
  text-shadow: 2px 3px 9px black;
  line-height: 0em;
}
.App-header #moneyMenu {
  display: none;
  left: 0;
  background: #282c34;
  color: #fff;
  height: 300px;
  width: 200px;
  margin-top: 20em;
  padding-top: 1em;
}
.App-header #moneyMenu.open {
  display: block;
}
.App-header #moneyMenu li {
  cursor: pointer;
  display: block;
}
.App-header #moneyMenu li:hover {
  background: #000;
}
.App-header #moneyMenu .logo {
  font-size: 13em;
}
.App-header #moneyMenu .logo .d {
  color: #336699;
  font-size: 0.3em;
  font-weight: bold;
}
.App-header #moneyMenu .logo .three {
  color: #fff18a;
}

/* HEADER -> User Selector
************************/
.App-header select {
  position: absolute;
  right: 1em;
}

.App-link {
  color: #09d3ac;
}

article {
  max-width: 500px;
  margin: auto;
}

.speech-bubble {
  position: relative;
  background: #bb8da0;
  border-radius: .4em;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #bb8da0;
  border-right: 0;
  margin-top: -10px;
  margin-right: -10px;
}
