/* Boss Screen
****************/
html.bossMode {
  opacity: 0.05;
  filter: grayscale(100%);
}
html.bossMode:hover {
  opacity: 1;
}
body {
  background: #ccc;
}

.App {
  text-align: center;
}

/* Z-Index
***************/
header #money,
header {
  z-index: 1;
}

/* Buttons
*************/
button {
  cursor: pointer;
  background: transparent;
  border: 0;
}

/* HEADER / FOOTER
******************/
header,
footer {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* HEADER
******************/
header {
  position: fixed;
  left: 0;
  right: 0;
}

header .userSelector {
  font-size: 2em;
}

/* HEADER -> Nav Menu
***********************/
header > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: -2px;
  font-size: 40px;
}
header > ul li {
  position: relative;
  display: inline-block;
  margin: 0 1em;
}
header > ul li .count {
  position: absolute;
  bottom: 1em;
  font-weight: bold;
  display: block;
  width: 1.5em;
  height: 1.5em;
  color: #fff;
  background: #f00;
  border-radius: 2em;
  font-size: 0.25em;
  margin-right: -1em;
}
header > ul li a:hover,
header > ul li a {
  color: #8b92a0;
  text-decoration: none;
  border: 0.1em solid transparent;
}
header > ul li a:hover {
  color: #fff;
  border-bottom-color: #5c748c;
}
header > ul li a.active {
  font-weight: bold;
  border-bottom-color: #ccc;
}

/* HEADER -> Money Menu
************************/
header #money,
header #moneyMenu {
  position: absolute;
}
header #money {
  left: 0;
  top: 32px;
  transform: rotate(-25deg);
  background: none;
  border: 0;
  font-size: 38px;
  text-shadow: 2px 3px 9px black;
  line-height: 0em;
}
header #moneyMenu {
  display: none;
  left: 0;
  background: #282c34;
  color: #fff;
  margin-top: 10em;
  padding-top: 30em;
  width: 57px;
  font-size: 0.6em;
}
header #moneyMenu ul {
  padding: 0;
}
header #moneyMenu.open {
  display: block;
}
header #moneyMenu li {
  cursor: pointer;
  display: block;
}
header #moneyMenu li:hover {
  background: #000;
}
header #moneyMenu .logo {
  font-size: 13em;
}
header #moneyMenu .logo .d {
  color: #336699;
  font-size: 0.5em;
  font-weight: bold;
}
header #moneyMenu .logo .three {
  color: #fff18a;
}

/* HEADER -> User Selector
************************/
header select {
  position: absolute;
  right: 1em;
}

/* MAIN
*********/
main {
  padding-top: 5em;
}

/* HOME
************/
main ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
  width: 500px;
}
main ul li {
  clear: both;
  margin: 0 1em;
}
main ul li a {
  color: #000;
  text-decoration: none;
}
main ul li a.active {
  font-weight: bold;
}
main span {
  font-size: 0.5em;
  margin: -1em 0 1em;
}

/* Node Components
*******************/
main button {
  cursor: pointer;
  background: transparent;
  border: 0;
  font-size: 15px;
}

.App-link {
  color: #09d3ac;
}

/* Node List
**************/
.nodeList {
  max-width: 500px;
  margin: auto;
}

/* Node
************/
article.node .controls button {
  font-size: 15px;
}

/* Node -> Controls -> Carousel
******************************/
.nodeList li .slick-slider,
article.node .slick-list {
  clear: both;
}

/* Node -> Controls -> Visibilities
************************************/
article.node .controls .author,
article.node .controls .exposure,
article.node .controls button {
  display: none;
}
article.node:hover .controls .author,
article.node:hover .controls .exposure,
article.node:hover .controls button {
  display: inline-block;
  opacity: 0.5;
}
article.node .controls .author:hover,
article.node .controls .exposure:hover,
article.node .controls button:hover {
  opacity: 1;
}

/* Node -> Speech Bubble
***************************/
article.node {
  position: relative;
  margin: 1em 5em;
  padding: 1em;
  border-radius: .4em;
  clear: both;
}

article.node a {
  color: #000;
  text-decoration: none;
}

article.node:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  margin-top: -10px;
}

article.node:before {
  position: absolute;
  font-size: 3em;
  top: 0;
}

/* Node -> Speech Bubble: Left
******************************/
article.node:not(.author) {
  background: #fffdb8;
  text-align: left;
  float: left;
}

article.node:not(.author):after {
  left: 0;
  border-right-color: #fffdb8;
  border-left: 0;
  margin-left: -10px;
}

article.node:not(.author):before {
  left: -1.5em;
}
article.node:not(.author) .controls {
  float: right;
}

/* Node -> Speech Bubble: Left -> Trail Warden
***********************************************/
article.node.trailWarden {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75);
  box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75);
}

/* Node -> Speech Bubble: Right
*********************************/
article.node.author {
  background: #62bcff;
  text-align: right;
  float: right;
}

article.node.author:after {
  right: 0;
  border-left-color: #62bcff;
  border-right: 0;
  margin-right: -10px;
}

article.node.author:before {
  right: -1.5em;
}

article.node.author .controls {
  float: left;
}

article.node .react-tabs {
  clear: both;
}

.certificates > ul > li {
  opacity: 0.5;
  cursor: pointer;
  display: inline-block;
  font-size: 2em;
}
.node .certificates > ul > li:not(.selected) {
  color: transparent;
  background: #ccc;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.certificates > ul > li.selected,
.certificates > ul > li:hover {
  opacity: 1;
}
.certificates > ul > li.certified {
  color: #e0dfdc;
  background: #556677;
  letter-spacing: .1em;
  color: #e0dfdc;
  background: #556677;
}

/* Cloud
********/
.cloud {
  display: inline-block;
  position: relative;
}

/* FOOTER
******************/
footer {
  margin-top: 3em;
}

footer small {
  font-size: 0.5em;
}

/* Clearfix
************/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
